<%= form_with(model: status_work, local: true) do |form| %>
  <% if status_work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(status_work.errors.count, "error") %> prohibited this status_work from being saved:</h2>

      <ul>
      <% status_work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :etape %>
    <%= form.text_field :etape %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
