<p id="notice"><%= notice %></p>

<h1>Status Works</h1>

<table>
  <thead>
    <tr>
      <th>Etape</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @status_works.each do |status_work| %>
      <tr>
        <td><%= status_work.etape %></td>
        <td><%= link_to 'Show', status_work %></td>
        <td><%= link_to 'Edit', edit_status_work_path(status_work) %></td>
        <td><%= link_to 'Destroy', status_work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status Work', new_status_work_path %>
