<div class="container">
<p id="notice"><%= notice %></p>


<div class="card">
<div class="card-body" style="width: 80%">
  

<p>
  <strong>Task name:</strong>
  <%= @task.task_name %>
</p>

<p>
  <strong>Task name:</strong>
  <%= @task.task_name %>
</p>

<p>
  <strong>Task designation:</strong>
  <%= @task.task_designation %>
</p>

<p>
  <strong>Date butoire:</strong>
  <%= @task.date_butoire %>
</p>

<p>
  <strong>Date butoire:</strong>
  <%= @task.collaborator_id %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
</div>

</div>
</div>