<h1><%= link_to 'Index', root_path %></h1>
<%= link_to 'Collaborateurs', collaborators_path %>
<%= link_to 'Projets', projects_path %>
<%= link_to 'Tâches', tasks_path %>
</br>
<%= link_to 'se connecter', new_user_session_path %>
<%= link_to 's\'inscrire', new_user_registration_path %>
<%= link_to 'se deconnecter', destroy_user_session_path, method: :delete %>